.modal-header{
    background-color: blue;
    display:flex;
    justify-content: space-between;
}

.modal-header button:hover{
    background-color: rgb(145, 236, 145);
}

.modal-body{
    color:blue;
    
}

.modal-date{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}